body{
  background-color: #EEE3CB;
}

hr{
  border-style: none;
  height: 0px;
  width: 10%;
  border-style: dotted none none;
  border-color: grey;
  border-width: 5px;
}

img{
  height: 120px;
}

h1, h3{
  color: #66BFBF;
}
